# Copy this file to .env and adjust values as needed.

XDEBUG_MODE=debug,develop
XDEBUG_START_WITH_REQUEST=yes
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_IDEKEY=VSCODE
XDEBUG_LOG_LEVEL=0
